
.section1 {
  width: 100%;
  height: 150px;
  background-color: lightgray;
}

.section2 {
  width: 100%;
  height: 350px;
  margin-top: 10px;
}

.section2:after {
  clear: both;
  content: " ";
  display: block;
}

.leftbox {
  background-color: green;
  height: 350px;
  width: 24%;
  margin-right: 1%;
  float: left;
}

.middlebox {
  background-color: purple;
  height: 350px;
  width: 48%;
  margin: 0 1%;
  float: left;
}

.rightbox {
  background-color: pink;
  height: 350px;
  width: 24%;
  margin-left: 1%;
  float: left;
}

.section3 {
  width: 100%;
  height: 150px;
  background-color: lightgray;
  margin-top: 10px;
}
